.body {
    margin: 0;
    padding: 0;
    min-width: 410px;
    min-height: 625px;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
.header {
    min-width: 410px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(131, 130, 130, 0.76);
}
.body__registration {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: white;
    border: none;
    width: 400px;
    height: 450px;
}
.body__title {
    padding-top: 10px;
    text-align: center;
}
.body__subtitle {
    text-align: left;
    margin-left: 25px;
}
.subtitle {
    font-size: 16px;
}
.body__input {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 25px;
    border: 0px solid white;
    border-radius: 3px;
    background-color: whitesmoke;
    width: 350px;
    height: 30px;
}
.body__checkbox_text {
    font-size: 14px;
}
.body__link {
    color:rgb(255, 196, 0);
    font-size: 14px;

}
.body__button_sign {
    margin-top: 15px;
    margin-left: 25px;
    font:caption;
    background-color:rgb(255, 196, 0);
    color:white;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border: none;
    text-align: center;
}
.body__text {
    margin-top: 25px;
    text-align: center;
}
.body__registerlink {
    color:black;
}
.body__button_facebook {
    margin-top: 10px;    
    font:caption;
    color:white;
    height: 30px;   
    width: 170px;
    border-radius: 3px;
    border: none;
    background-color:rgba(0, 68, 255, 0.781);
    text-align: center;
}
.body__button_google {
    margin-top: 10px;
    font:caption;
    color:white;
    height: 30px;
    width: 170px;
    border-radius: 3px;
    border: none;
    background-color:rgba(255, 0, 0, 0.884);
    text-align: center;
}
.body__container {
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
    display:flex;
    justify-content: space-between;
}