#ref {
    color:rgb(255, 196, 0);
    display: block;
    float: right;
    text-align: right;
    margin-right: 25px;
    font-size: 14px;
}
#ref1 {
    color:black;
}

.bord {
    background-color: whitesmoke;
}
.tab {
    text-align: center;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    border: none;
    width: 400px;
    height: 450px;
}
.sign {
    font:caption;
    background-color:rgb(255, 196, 0);
    color:white;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border: none;
}
.but {
    font:caption;
    color:white;
    height: 30px;
    width: 170px;
    border-radius: 3px;
    border: none;
}
.f {
    background-color:rgba(0, 68, 255, 0.781);
}
.g {
    background-color:rgba(255, 0, 0, 0.884);
}
.field {
    border: 0px solid white;
    border-radius: 3px;
    background-color: whitesmoke;
    width: 350px;
    height: 30px;
}
.alig {
    text-align:left;
    margin-left: 25px;
}
.font_s {
    font-size: 14px;
}